.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__body > h1 {
  font-size: 50;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.email-box {
  background-color: gray;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__info > img {
  height: 100px;
}

.profileScreen-password-confirmation {
  overflow: hidden;
  transition: all 1s ease-in-out;
  padding: 10px 20px;
  background-color: gray;
  font-size: 1rem;
  color: white;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.alert {
  width: 100%;
  padding: 15px 20px;
  background-color: #e50914;
  color: white;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
