.planScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.planScreen__plan:hover {
  opacity: 1;
}

.planScreen__plan > button {
  padding: 10px 20px;
  color: #fff;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
